.example-spacer {
    flex: 1 1 auto;
  }

  .icon-button {
    display: flex;
    align-items: center; /* Align icon and text vertically */
  }
  
  .icon-svg {
    margin-right: 8px; /* Add space between icon and text */
    vertical-align: middle; /* Ensure vertical alignment */
  }