.example-spacer {
    flex: 1 1 auto;
  }

  .icon-button {
    display: flex;
    align-items: center; 
  }
  
  .icon-svg {
    margin-right: 8px; 
    vertical-align: middle; 
  }
  @media (max-width: 768px) {
    mat-toolbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .icon-button {
      justify-content: space-between;
      width: 100%;
      padding: 8px 0;
    }
  
    .icon-svg {
      margin-right: 16px;
    }
  }